*, body {
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 0px 15px;
    border-bottom: 1px solid #619cbc;
    background-color: #619cbc;
    color: white;
}
.header div {
    font-size: 18px;
    display: inline-block;
    margin-left: 15%;
}

.header div select {
    font-size: 18px;
    outline: none;
    color: white;
    border: 1px solid #0da148;
    background-color: #0da148;
}


.container {
    width: 100%;
    display: grid;
    padding: 10px 50px;
    grid-template-rows: 10vh 20vh 10vh 50vh 10vh 50vh 10vh 50vh;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px
}

div select {
    border-radius: 5px;
    padding: 5px;
}

.table-container{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    width: 70%;
    margin-left: 15%;
}

.table-container div {
    text-align: center;
}

.table-container div h3 {
    padding-top: 10%;
}

img {
    width: 17%;
    height: auto;
}

.web-preformance-chart {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 100%;
    margin-left: 5vw;
    /* border: 1px solid black; */
}

.revenue {
    grid-row-start: 5;
    grid-row-end: 6; 
}

.revenue-chart {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 100%;
    margin-left: 5vw;
    /* border: 1px solid black; */
}

.top-movies {
    grid-row-start: 7;
    grid-row-end: 8; 
}

.top-movies-chart {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
    /* width: 100%; */
    width: 80vw;
    height: 100%;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}


.bar {
    background-color: #619cbc;
    margin-top: 25px;
    color: white;
    text-align: center;
    padding: 5px;
  }

  .colValue {
    border-right: 1px dotted black;
  }

  .chart-website-button {
    cursor: pointer;
  }